/*阴影效果*/
.ant-layout-header{
     -moz-box-shadow:0 1px 5px rgba(0,0,0,.1);
     -webkit-box-shadow:0 1px 5px rgba(0,0,0,.1);
     box-shadow:0 1px 5px rgba(0,0,0,.1);
 }

.ant-layout-header img{
    width: 30px;
}


/* content*/
@media  only screen and (min-width: 768px) {
    .content-warp {
        margin: 0 50px;

    }
}


@media  only screen and (min-width: 992px) {
    .content-warp {
        margin: 0 150px;
    }
}

@media  only screen and (min-width: 1200px) {
    .content-warp {
        margin: 0 200px;
    }
}

/* 登陆框*/



.logo{
    padding-left: 30%;
    padding-bottom: 20px;
}

.logo-text {
    display: inline-block;
    padding: 10px;
}
.logo img{
    width: 50px;
    padding-bottom:5% ;
}
